<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-md-8 col-lg-8 mx-md-auto">
      <div class="row">
        <div class="col-md-6 col-lg-6">
          <div class="card shadow">
            <div class="card-body text-center">
              <h3>I want to help people</h3>
              <p class="mt-4">It's really awesome to know this. So many people are waiting for you. Let them know you are here.</p>
              <%= link_to 'View All Stories', 'javascript:void(0)', class: 'btn btn-primary btn-lg mt-3 mb-3' %>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-6">
          <div class="card shadow">
            <div class="card-body text-center">
              <h3>I need help from people</h3>
              <p class="mt-4">No worries! Just let the world know what's you need. The world has nice hearts open for you.</p>
              <%= link_to 'Write your Story', 'javascript:void(0)', class: 'btn btn-primary btn-lg mt-3 mb-3' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
