<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Please check following errors!</strong>
  <% if story_response.errors.any? %>
    <% story_response.errors.full_messages.each_with_index.each do |message, index| %>
      <p><%= index+1 %>. <%= message %></p>
    <% end %>
  <% end %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
