<li class="media">
  <%= image_tag 'user.jpg', class: 'mr-3 mb-2', width: '40' %>
  <div class="media-body">
    <p><%= story_response.body %> <span class="font-weight-bold text-primary"><%= story_response.responder %></span></p>
  </div>
</li>
